@use 'base/variables' as v;
@use 'base/mixins' as m;

.modal {
    position: absolute;
    background-color: rgb( 0 0 0 / .8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .form {
        max-width: 60rem;
        background-color: v.$blanco;
        padding: 5rem;
        border-radius: .5rem;
        margin: 0 auto;
        transform: translateY(-30rem);
        transition-property: transform, opacity;
        transition-duration: 300ms;
        transition-timing-function: ease-in;
        opacity: 0;
        .opciones {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        legend {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 2rem;
        }

        .submit-newtask {
            @include m.btn(v.$cyan, v.$blanco);
        }

        .close-modal {
            @include m.btn(lighten(v.$rojo, 10%), v.$blanco);
        }
    }

    .animar {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        opacity: 1;
    }

    .close {
        transform: translateY(-200%);
        opacity: 0;
    }
}